@import url(https://fonts.googleapis.com/css?family=Ropa+Sans:regular,italic);

*{
    box-sizing: border-box;   
}

body {
    margin:  0;
    padding: 0; 
    font-family: 'Ropa Sans', sans-serif;
    color: #777777;
}

.dark-mode,
.dark-mode header {
    background-color: #3e3e3e;
    color: #fff;
}

.dark-mode section.projects article {
    background-color: #949494;
}

.container {
    width: 1200px; 
    max-width: 100%;
    margin: 0 auto; 
    /* Como que muda o a altura das boxeeees */
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    /* margin-bottom: 30px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    /* podemos colocar o n/ maior para que essa posição seja maior nno codigo */
    background-color: #fff;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center; 
    /* margin: 20px;   */
}

header .logo h1 {
    font-size: 50px;
    margin: 10px;
    /* width: auto;
    height: auto; */
}

header .slogan h2{
    font-size: 18px;
    font-weight: normal;
    /* width: auto;
    height: auto; */
}

/* header .btn-menu button.btn-toggle-mode {
    font-size: 20px;
    padding: 10px;
} */

header .btn-menu button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #777777;
    outline: none;
    cursor: pointer;
}

header .btn-menu button:hover {
    transition: 0.5s;
    color: #f5be08;
}

/* configurando o slide principal */

.banner .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner .slide {
    width:100%;
    height: 500px;
    background-size:cover;
    margin: 0 auto;

}
.banner .slide img {
    width: 100%;
}

.banner .controls {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content:space-between;
    padding: 15px;
    
}

.banner .container .controls img {
    
    width: 20px;
    background: rgba(141, 141, 141, 0.62);
    
    /* border-width: 50px; */
    border-radius: 70px;
    margin: 20px;
    
}

/* Projetos */

.projects .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0;
    flex-wrap: wrap;
}

.projects article {
    width: 500px;
    max-width: 100%;
    /* min-height: 1000px; */
    margin: 30px 0;
    background-color: #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.projects article .thumb {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.projects article .thumb img {
    width:100%;
}

.projects article .info {
    padding: 20px;
}

.projects article .info .price {
    font-size: 35px;
}

.projects article .info .tag {
    color: #fff;
    font-size: 25px;
    display: inline-block;
    border-radius: 30px;
    padding: 3px 10px;
}

.projects article .info .tag.tag-green {
    background-color: #51D275;
}

.projects article .info .tag.tag-orange {
    background-color: #DC9730;
}

/* configurando Style */
.style h1 {
    font-size: 25px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #888888;
}
.style .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.style .container article{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);   
}

.style .container article img {
    width: 100%;
    padding-bottom: 30px;
}

.style .container article h2 {
    position: absolute;
    font-size: 25px;
    line-height: 27px;
    color: #fff;
}

/* confirurando o rodape */
footer {
    /* width: 100%;
    height: 15rem; */
    background:#333333;
    /* margin-top: 3.5rem;
    padding: 2.5rem 0; */
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding: 50px 0px;
}

footer .container .map img {
    height: 10.1875rem;
    /* width: 400px; */
    background-size: cover;
}

footer .container .info .company-info {

    font-size: 12px;
    line-height: 13px;
    text-align:center;

    color: #FFFFFF;
 
}

/* sessão de contato */
.container h2 {
    text-align: center;
    font-size: 30px;
}

form {
    width: 300px;
    max-width: 100%;
    margin: 10px auto;
}

form input,
form textarea {
    width: 300px;
    max-width: 100%;
    margin: 10px auto;
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 16px;
}

form button {
    padding: 10px;
    margin: 0 auto;
    display: block;
    background-color: #DC9730;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-family: 'Ropa Sans', sans-serif;
    border-radius: 20px;
    font-size: 20px;
}




/* modal -dark mode config */
.modal {
    position: fixed;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index:10;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal .modal-content {
    background-color: #fff;
    width: 500px;
    padding: 20px;
    border-radius: 30px;
}

.modal .modal-content .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header {
    color: rgb(49, 49, 49);
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}